{% if site.data.speaches %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Public Speaches</h2>

  {% if site.data.speaches.intro %}
  <div class="intro">
      <p>{{ site.data.speaches.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for speach in site.data.speaches.speaches %}
    <div class="item">

      <span class="project-title"><a href="{{ speach.link }}">{{ speach.title }}</a></span>

      {% if speach.tagline %}
      - <span class="project-tagline">{{ speach.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
